<body>
  <h1>ようこそ<strong>Bookers</strong>へ！</h1>
  <div>
    <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br />
    <br />
    印象を共有し交換することができます<br />
    <br />
    <%= link_to 'start', :books %>
  </div>
</body>